---
layout: default
---
<style>
.card-header-avatar{
		margin-right: 12px;
}



</style>

<!-- Posts -->
<ul id="posts">
<div class="post-div">
	{% for post in paginator.posts %}

	  <li class="post">
	  	<h2><a href="{% if site.baseurl == "/" %}{{ post.url }}{% else %}{{ post.url | prepend: site.baseurl }}{% endif %}">{{ post.title }}</a></h2>
      <!-- <a class="post-categories" href="{{ "/category" | prepend: site.baseurl }}/{{post.categories}}.html">{{post.categories}}</a> -->
<div style="display:inline">
			<time datetime="{{ post.date | date_to_xmlschema }}" class="by-line"> Posted on {{ post.date | date_to_string }}&nbsp;&nbsp;by
      <a class="card-header-title" href="/dsm/about">&nbsp;{{site.author.name}}</a><span>&nbsp;&nbsp;in&nbsp;</span>
			<a class="card-header-title" href="{{ site.tagurl | prepend: site.baseurl }}">{{post.categories[0]}}</a>

		</time>


</div>

			<!-- <img class="card-header-avatar" src="{{site.author.avatar}}" /> -->
			<p class="content">{{ post.content | strip_html | truncatewords:50 }}</p>
	  </li>

    {% endfor %}
</div>
</ul>
