/* -- General Layout -- */

/* Navigation */
// .site-nav {
//     line-height: 56px;
//     display: inline-block;
//
// }


#nav, #nav-left {
  a {
    display: block;
    color: $background-color;
    padding: 0.33334em 0;
    font-size: 1.5em;
    font-weight: 400;
    @media (min-width: 940px) {
      font-size: 1em;
    }
    &:hover {
      background-color: lighten($main-color, 5%);
    }
  }
  span {
      font-weight: 200;
    }
}

#nav {
  @include nav-position(right);
}

#nav-left {
  @include nav-position(left);
}

/* Toggle class to open menu */

#nav.menu-open {
  @include open(-14rem);
}

#nav-left.menu-open-left {
  @include open(14rem);
}

/* Separator after menu */

#nav-list:after {
  display: block;
  content: '';
  width: 5rem;
  height: 1px;
  margin: 23px auto;
  background-color: $background-color;
}

/* Icon menu */

#nav-menu {
  @include icon-position(right);
}

#nav-menu-left {
  @include icon-position(left);
}

#menu {
  height: 4px;
  width: 2.5em;
  background-color: $main-color;
  border-color: black;
  border-width: 1px;
  margin-top: 8px;
  &:after, &:before {
    content: "";
    display: block;
    position: relative;
    height: 4px;
    width: 2.5em;
    background-color: #ab3d3d;
    transition: all 0.3s ease-in;
  }
  &:before {
    top: -8px;
  }
  &:after {
    top: 4px;
  }
  &.btn-close {
    background: none;
  }
  &.btn-close:before {
    top: 0;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    background-color: $background-color;
  }
  &.btn-close:after {
    top: -4px;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    background-color: $background-color;
  }
}

/* Main content */

.fixed {
  position: fixed;
  width: 100%;
  @media (min-width: 940px) {
    position: static;
  }
}

#left-container{
  margin:0 auto;
  margin-right: 2.5em;
	max-width: 330px;
  width: 25%;
  float: left;
	padding: 0 0;
  padding-left: 2em;
  display: inline;
  position: absolute;

}

#container {
	margin:0 auto;
  margin-right: 2.5em;
	max-width: 1030px;
  width: 70%;
  float: right;
	padding: 0 0;
  padding-left: 2.5em;
  display: inline;
  border: 3px solid; border-image: linear-gradient(#FFFFFF, #659cd5, #0073aa, #659cd5, #FFFFFF) 10; border-left-width: 3px; border-right: none; border-top: none; border-bottom: none; height: auto;
}

#header {
	text-align: center;
  padding: 24px 0;
  position: relative;

  a {
  	text-decoration: none;
  	color: $text-color;
  	display: inline-block;

  }
  img {
  	max-height: 72px;
  	margin: 0 auto;
  	display: block;
  }
  h1 {
  	font-family: 'Signika', sans-serif; //Emerald logo font
    font-weight: 600;
  }
  &:after {
  	display: block;
    content: '';
    width: 5rem;
    height: 1px;
    margin: 23px auto;
    background-color: lighten($text-color, 70%);
  }
}

.index-img {

  width: 100%;min-height: 70px; max-height: 130px; object-fit: cover;
}

.index-content {

  font-family: 'Signika', sans-serif; //Emerald logo font;
  font-size: 22px;
}
/* Posts */

#posts {
  li {
    list-style-type: none;
    border-bottom: $grey-background-color 2.9px solid;
    padding-bottom: 1.7em;

  }
}

#post-page {
  margin-bottom: 1.5em;
  @media (min-width: 940px) {
      margin-bottom: 2.3334em;
    }
}

.PageNavigation {
  font-size: 1em;
  display: block;
  width: auto;
  overflow: hidden;
  padding-top: 0.5em;
  margin-top: 0.5em;
  padding-bottom: 0;
  margin-bottom: 0;
  border-top-style: none;
  // border-top-color: $main-color 40%;
  font-weight: lighter;


}

.PageNavigation a {
  display: block;
  width: 50%;
  float: left;
  margin: 0.5em 0;
  color:$text-color;
  background: linear-gradient(90deg,$background-color,aed7ff,$background-color);
  font-weight: lighter;
}

.PageNavigation a:hover{

  color: $main-color;
  opacity:  40%;
  text-shadow: 1px 1px 1px $text-color;
  font-weight: lighter;
}

.PageNavigation .next {
  text-align: left;
}

.PageNavigation .prev {
  text-align: right;
}



#disqus_thread{
  margin: 0.5em;
  padding: 1.33em;
  margin-top: 4.2em;
  border-top-style: ridge;
  border-top-color: $main-color;


  background: linear-gradient(70deg,$background-color,#9babbb,$main-color,#9babbb,$background-color);


}

.post-div{

  // box-shadow: 3px,3px,3px,$text-color;
}

.post+.post:before {
    // display: block;
    // content: '';
    // width: 5rem;
    // height: 1px;
    // margin: 23px auto;
    // background-color: lighten($text-color, 70%);
  }

.by-line {
  display: inline;
  color: lighten($text-color, 25%);
  line-height: 0.3em; /* 24px/16px */
  margin-bottom: 1em; /* 24px/16px */
  font-weight: 200;
  @media (min-width: 940px) {
    display: block;
    color: lighten($text-color, 25%);
    line-height: 1.3334em; /* 24px/18px */
    margin-bottom: 1.3334em; /* 24px/18px */
    font-weight: 200;
  }
}

.tag-title{
  font-weight: bold;
  color: #6977a1;
  background-color:$grey-background-color;
  border-radius: 3px 3px 3px;
  font-family: "Gill Sans", sans-serif;


}

.card-header-title{

  color: lighten($main-color, 1%);
  line-height: 1.5em; /* 24px/16px */
  margin-bottom: 1.5em; /* 24px/16px */
  font-weight: 200;
	display: inline;
	margin-top: 0;
	border-top: 0;
}

.post-categories{
    float: right;
		font-family: cursive;
    font-style: italic;
		text-align: right;
		margin-top: 0;
		padding-top: 0;
    border-top: 0;
		color: white;
		color: $text-color;
    text-shadow: 3px 4px 3px grey;
		font-weight: inherit;
		display: inline;

}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  margin-bottom: 24px;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
      -ms-border-radius: 4px;
          border-radius: 4px;
}

img[title="Emerald"] {
    box-shadow: 0 2px 6px #ddd;
  }

// code {
//   color: lighten($text-color, 35%);
//   background-color: lighten($background-color, 35%);
// }

/* Set the vertical rhythm (and padding-left) for lists inside post content */

.content ul, .content ol {
  line-height: 1.5em; /* 24px/16px */
  padding-left: 1.5em;
  @media (min-width: 940px) {
    line-height: 1.33334em; /* 24px/18px */
  }
}

/* Pages */

#page ul, #page ol {
  padding-left: 1.5em;
}

/* Paginator */

.pagination {
  text-align: center;
  margin: 2.666668em;
  span {
    background-color: darken($background-color, 5%);
    color: $text-color;
  }
  a:hover {
    background-color: lighten($main-color, 5%);
  }
}
.page-item {
  background-color: $main-color;
  color: $background-color;
  padding: 4px 8px;
  font-weight: 400;
  padding: 0.5em 1em;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
      -ms-border-radius: 4px;
          border-radius: 4px;
}

/* Footer */

footer {
  background-color: $main-color;
  color: $background-color;
  text-align: center;
  padding: 0;
  right:0; bottom:0; left:0;
  position: fixed;
}

.feed{
  color: $background-color;
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  font-weight: normal;
}

.socialmedia svg{
  fill: $background-color;
  padding: 0;
  margin:1em;
  width:24px;
  height:24px;

}

/*contact*/
// .contact {
//   form {
//     background-color: rgba(255, 255, 255, .9);
//     max-width: 600px;
//     margin: auto auto 50px auto;
//     box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
//     padding: 15px;
//     margin-top: 140px;
//   }
//
//   input, textarea {
//     font-size: 110%;
//     display: block;
//     border: 1px solid #cccccc;
//     padding: 10px;
//     margin-bottom: 5px;
//     resize: none;
//     width: 100%;
//     box-sizing: border-box;
//     -moz-box-sizing: border-box;
//   }
//
//   h3 {
//     color: darkslategrey;
//   }
//
//   a {
//     color: darkcyan;
//   }
//
//   @media screen and (max-width: 1200px){
//     .more-top-body {
//       margin-top: 100px;
//     }
//   }
//
//   @media screen and (max-width : 760px){
//     form {
//       margin: 50px 5% 50px 5%;
//     }
//   }
// }


.section-subheading {

  float: right;
  font-family: cursive;
  font-style: italic;
  text-align: left;
  margin-top: 30px;
  padding-top: 0;
  border-top: 0;
  margin-bottom: 25px;
  color: $text-color;
  font-weight: inherit;
  display: inline;
}



section#contact {
    // background-color: #222;
    background-position: center;
    background-repeat: no-repeat;
}

section#contact .section-heading {
    color: #fff;
}

section#contact .form-group {
    margin-bottom: 25px;
}

section#contact .form-group input,
section#contact .form-group textarea {
  outline-color: invert ;
  outline-style: none ;
  outline-width: 0px ;
  border: none ;
  border-style: none ;
  text-shadow: none ;
  -webkit-appearance: none ;
  -webkit-user-select: text ;
  outline-color: transparent ;
  border-bottom: solid;
  border-width: thin;


}

section#contact .form-group input.form-control {
    height: 36px;
    width: 100%;
    font-size: 18px;
}

section#contact .form-group textarea.form-control {
    height: 236px;
    width: 100%;
    font-size: 18px;

}

section#contact .form-control:focus {
    box-shadow: 2px 2px 2px $main-color;
    border-color: $main-color;
}



section#contact .text-danger {
    color: #e74c3c;
}

.btn-contact {
  padding: 20px 40px;
  font-size: 18px;
  font-weight: 700;
  background-color: $main-color;
  border-radius: 3px;
  text-transform: uppercase;
  color:#fff;
  text-align: center;
  margin-bottom: 40px;


}

.btn-contact:hover{
  background: $highlight-color;

}
/*btn*/


.btn-default {
    color: $background-color;
    background-color: $main-red;
    border-color: #ccc;
    border: 1px solid;
    border-radius: 6px;
    border-style: groove;
    padding: 0.3em;
    font-weight: lighter;

}

.btn-default:hover{
    background-color: $highlight-color;

}

.btn-default-in-Tags {
    color: $background-color;
    background-color: $main-color;
    font-size: 21px;
    padding: 7px;
    margin: auto;

    border-color: #ccc;
    height: auto;

    border: 2px solid;
    border-radius: 6px;
    border-style: groove;
    font-weight: lighter;


}

@media(max-width:650px){
  .btn-default-in-Tags {font-size: 17px;padding: 2.5px;border: 1px solid;}

h2 { font-size: 1.6em; line-height: auto; }

}


.avatar{
  fill: #fff;
  width: 50px;
  height: auto;
  margin-top: 20px;
}


// ----------------------------------

.item-title a{font-size:21px; font-weight: bold; word-break:break-all;margin-top: 10px; margin-left: 10px; color:grey;line-height: 30px;overflow:hidden; text-overflow:ellipsis;display:-webkit-box; -webkit-box-orient:vertical;-webkit-line-clamp:2; }
.item-title a:hover{
    font-size:21px;word-break:break-all;color:red;line-height: 30px;overflow:hidden; text-overflow:ellipsis;display:-webkit-box; -webkit-box-orient:vertical;-webkit-line-clamp:2;
}


.item-title a::before{
    color: $main-color;
	content: attr(data-hover);
    position: absolute;
    outline:0;
    white-space: nowrap;
    opacity: 0;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	-webkit-transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
	-moz-transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
	transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
}
.item-title a:hover::before,
.item-title a:focus::before {
    outline:0;
    white-space: nowrap;
	-webkit-transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
	-moz-transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
	transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
	opacity: 1;
}


.main-content{position:relative;margin:0 auto;-webkit-animation:fade-in .5s;animation:fade-in;animation-duration:.5s;}
.archive-page{padding:20px 20px 40px;}
.archive-page .categorys-title{font-size:24px;position:relative;margin-top:43px;font-weight: bold; color:$highlight-color;text-decoration: underline;text-transform: uppercase;}
// .archive-page .categorys-title a{color:#5f5f5f;}
// .archive-page .categorys-title::before{position:absolute;top:0;left:-15px;padding:0 30px;content:'#';color:#eb5055;}
.archive-page .post-list-item-container{margin-top: 16px; border:1px solid rgba(184,197,214,.5);border-radius:3px;background:$grey-background-color;-webkit-box-shadow:0 1px 4px rgba(0,0,0,.04);box-shadow:0 1px 4px rgba(0,0,0,.04);border-radius: .6rem;}
.archive-page .post-list-item-container .item-label{height:auto;background:$grey-background-color;}
// .archive-page .post-list-item-container .item-label .item-title a{font-size:14px;display:block;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;color:#313131;}
.archive-page .post-list-item-container .item-label .item-meta .item-meta-date{padding-bottom:5px;padding-left:25px;color:#5f5f5f;}
.clearfix:after,.clearfix:before{display:table;content:'';}
.clearfix:after{clear:both;}
.clearfix{zoom:1;}
.post-title{font-size:21px;}
.post-list-item-container:hover{-webkit-box-shadow: 0 15px 30px rgba(0,0,0,.07);box-shadow:0 15px 30px rgba(0,0,0,.07);border-radius: .6rem;}

.verticalLine {border: 3px solid; border-image: linear-gradient($background-color, $main-color, $highlight-color,$main-color,$background-color) 10; border-left-width: 3px; border-right: none; border-top: none;border-bottom: none;height: auto;}

.site-tag a {display: inline-block;margin-right: 2px;font-weight: bold;margin-top: 0px;line-height: 0;font-family: 'Comic Sans MS';color:$highlight-color;}


// .post-list-item-container .item-thumb{position:relative;display:inherit;min-height:250px;-webkit-transition:-webkit-transform 500ms ease,filter 500ms ease;-moz-transition:-moz-transform 500ms ease,filter 500ms ease;transition:transform 500ms ease,filter 500ms ease;background-position:50% 50%;background-size:cover;}
// .post-list-item-container .item-desc{position:absolute;top:0;overflow:hidden;width:100%;height:100%;padding:40px 28px; -webkit-transition: all .2s linear;transition: all .2s linear;}
// .post-list-item-container .item-desc p{font-size:14px;margin:0;padding:0;word-break:break-all;opacity:0;color:#fff;}
// .post-list-item-container:hover .item-thumb{-webkit-transform:scale(1.1);-moz-transform:scale(1.1);transform:scale(1.1);-webkit-filter:blur(3px);-moz-filter:blur(3px);filter:blur(3px);box-shadow: 0 15px 30px  rgba(69, 81, 93, 0.3);}
// .post-list-item-container:hover .item-desc{background-color:rgba(0,0,0,.5);-webkit-box-shadow: 0 15px 30px rgba(0,0,0,.04);box-shadow: 0 15px 30px rgba(0,0,0,.07);border-radius: .6rem;}
// .post-list-item-container:hover .item-desc p{-webkit-animation:fade-in .5s;animation:fade-in;animation-duration:.5s;opacity:1;}
// .post-list-item-container .item-slant{position:absolute;z-index:0;right:0;bottom:50px;left:0;width:110%;min-height:100px;-webkit-transform:rotate(7deg) translate(-10px,0);-ms-transform:rotate(7deg) translate(-10px,0);transform:rotate(7deg) translate(-10px,0);background-color:#fff;}
// .post-list-item-container .item-slant.reverse-slant{-webkit-transform:rotate(-10deg) translate(10px,-10px);-ms-transform:rotate(-10deg) translate(10px,-10px);transform:rotate(-10deg) translate(10px,-10px);opacity:.7;background-color:#f68e5f;-webkit-box-shadow:none;box-shadow:none;}
// .post-list-item-container .item-label{position:relative;height:130px;padding:25px 20px 40px;background-color:#fff;}
// .post-list-item-container .item-label .item-title a{font-size:15px;word-break:break-all;color:#313131;line-height: 30px;overflow:hidden; text-overflow:ellipsis;display:-webkit-box; -webkit-box-orient:vertical;-webkit-line-clamp:2; }
// .post-list-item-container .item-label .item-meta{position:absolute;right:0;bottom:0;width:100%;padding: 0 22px 15px;text-align:right;}
// .post-list-item-container .item-label .item-meta .item-meta-cat a{font-size:13px;position:relative;float:right;margin-right:10px;padding:10px 0;text-align:right;text-transform:none;color:#5f5f5f;}
// .post-list-item-container .item-label .item-meta .item-meta-date{font-size:12px;position:relative;float:left;padding-top:9px;padding-left:9px;text-align:right;text-transform:none;color:#f1f1f1;}
// .post-list-item-container .item-label .item-meta .item-meta-ico{display:inline-block;float:right;width:42px;height:42px;border:1px solid #eaeaea;border-radius:50%;}

/* ==========================================================================
   #reponse
   ========================================================================== */



// @media(max-width:1000px){
//    .directory-content{display:none;}
//    .post-header-thumb{height:280px;}
//    .post-header-thumb-cover{height:280px;}
//    .post-header-thumb-op{height:280px;}
//    .post-header-thumb-container{top:80px;}
// }
// @media(max-width:880px){
//    .index-page{padding:90px 0 0;}
//    .archive-page{padding:90px 0 20px;}
//    .common-page{padding:90px 0 0;}
//    .post-onelist-item-container{padding:50px 20px 55px;}
//    .post-list-item{width:50%;padding:10px;}
//    .post-list-item:nth-child(odd){padding-left:20px;}
//    .post-list-item:nth-child(even){padding-right:20px;}
//    .lists-navigator{margin:25px 0 30px;}
//    .post-header-thumb{height:250px;}
//    .post-header-thumb-op{height:250px;}
//    .post-header-thumb-cover{height:250px;}
//    .post-header-thumb-container{top:60px;}
//    .footer-meta .footer-container{padding:0;}
//    .main-content{margin:0 auto;}
//    .footer-meta .meta-item{padding:0 20px;}
// }
// @media(max-width:700px){
//    .comment-form .input-control{max-width:100%;}
//    .post-header-thumb{height:220px;}
//    .post-header-thumb-op{height:220px;}
//    .post-header-thumb-cover{height:220px;}
//    .post-header-thumb-container{top:40px;}
//    .post-page{padding:30px 25px 0;}
//    .page-page{padding:100px 25px 0;}
//    .related-post-lists{padding-top:15px;}
//    .post-onelist-item-container{padding:20px 20px 25px;}
//    .post-onelist-item-container .onelist-item-thumb{min-height:240px;}
// }
// @media(max-width:650px){
//    .navbar-menu{display:none;}
//    .navbar-search{padding:0 35px 0 0;}
//    .navbar-search form{width:180px;margin-right:55px;}
//    .navbar-mobile-menu{display:inline-block;}
//    .red-gradient{display:none;}
//    .meta-posts{display:none;}
//    .meta-comments{display:none;}
//    .post-page{padding:100px 25px 0;}
//    .common-page .post-list-item{width:100%;padding:10px 20px;}
//    .footer-social{display:none;}
//    .footer-meta .footer-container{height:70px;padding:0 15px;}
//    .footer-meta .meta-item{width:100%;padding:0 10px;}
//    .footer-meta .meta-copyright .info-text{float:right;}
//    .footer-meta .meta-copyright .info-text p{text-align:right;}
//    .post-onelist-item-container .onelist-item-thumb{min-height:220px;}
//    .post-header-thumb{display:none;}
//    .post-page .post-header{display:inherit;}
//    .post-page .post-content .post-tags{display:inherit;}
// }
// @media(max-width:580px){
//    .navbar-search form{width:150px;}
//    .index-page{padding:80px 0 0;}
//    .archive-page{padding:80px 0 20px;}
//    .common-page{padding:80px 0 0;}
//    .post-list-item{width:100%;padding:10px 20px;}
//    .post-list-item:first-child{padding-top:20px;}
//    .archive-page .post-list-item:first-child{padding-top:0;}
//    .archive-page .post-list-item:last-child{padding-bottom:0;}
//    .common-page .post-list-item:first-child{padding-top:0;}
//    .related-post-lists{padding-top:5px;}
//    .main-content{margin:0 auto;}
//    .post-onelist-item-container{padding:20px 20px 25px;}
//    .post-onelist-item-container .item-content{display:none;}
//    .post-onelist-item-container .item-readmore{display:none;}
//    .post-onelist-item-container .onelist-item-thumb{min-height:180px;}
// }
