---
layout: default
---
{% include svg-icons.html %}
{% include head.html %}


<!DOCTYPE html>


		<!-- {% for post in site.posts %}

        {% if page.classify contains post.classify %}
          {{post.title}}
        {%endif%}
    {%endfor%}

            //
            {{page.classify}} -->


<ul id="posts">
<div class="post-div">

	{% for post in site.posts %}
    {% if page.classify contains post.classify %}
	  <li class="post">
	  	<h2><a href="{% if site.baseurl == "/" %}{{ post.url }}{% else %}{{ post.url | prepend: site.baseurl }}{% endif %}">{{ post.title }}</a></h2>
      <!-- <a class="post-categories" href="{{ "/category" | prepend: site.baseurl }}/{{post.categories}}.html">{{post.categories}}</a> -->
			<div style="display:inline">
			<time datetime="{{ post.date | date_to_xmlschema }}" class="by-line"> Posted on {{ post.date | date_to_string }}&nbsp;&nbsp;by
      <a class="tag-title" href="/dsm/about">&nbsp;{{site.author.name}}</a><span>&nbsp;&nbsp;in&nbsp;</span>
			<span class="tag-title" >{{post.tag}}</a>

		</time>


		</div>

			<!-- <img class="card-header-avatar" src="{{site.author.avatar}}" /> -->
			{% if post.titleimg %}
				<img class="index-img" src="{{post.titleimg}}" />
			{% endif %}
			{% if post.abstract %}
				<p class="index-content">{{ post.abstract | strip_html | truncatewords:50 }}<a href="{% if site.baseurl == "/" %}{{ post.url }}{% else %}{{ post.url | prepend: site.baseurl }}{% endif %}" data-hover="{{ post.title }}">【read】</a></p>
			{% endif %}

	  </li>
    {%endif%}
  {% endfor %}
</div>
</ul>
