---
layout: default
---
{% include svg-icons.html %}

<article id="post-page">
	<h2>{{ page.title }}</h2>
	<time datetime="{{ page.date | date_to_xmlschema }}" class="by-line">{{ page.date | date_to_string }}
		<a class="card-header-title" href="/dsm/about">&nbsp;{{site.author.name}}</a><span>&nbsp;&nbsp;in&nbsp;</span>
		<a class="card-header-title" href="{{ "/category" | prepend: site.baseurl }}/{{page.categories}}.html">{{page.categories}}</a>
	</time>
	<div class="content">

		{{ content }}



</article>

<div class="tags">
		{% if page.categories != null %}
		<b>Tags: </b>
   {% for tag in page.categories %}
		<a href="{{ site.tagurl | prepend: site.baseurl }}" class="btn-default">{{tag}}</a>
    {% endfor %}
		{% endif %}
</div>

<div class="PageNavigation">

  {% if page.next.url %}
    <a class="next" href="{{page.next.url | prepend: site.baseurl}}">&laquo;--- {{page.next.title}} </a>
  {% else %} <a class="next" href="{{page.next.url | prepend: site.baseurl}}">&nbsp;</a>
	{% endif %}
	{% if page.previous.url %}
    <a class="prev" href="{{page.previous.url | prepend: site.baseurl}}"> {{page.previous.title}} ---&raquo;</a>
  {% else %} <a class="prev" href="{{page.previous.url | prepend: site.baseurl}}"> &nbsp;</a>
	{% endif %}


</div>




{% include disqus.html %}
