---
layout: default
---
{% include svg-icons.html %}
{% include head.html %}

<script src="//cdn.bootcss.com/highlightjs-line-numbers.js/1.1.0/highlightjs-line-numbers.min.js"></script>
<script>hljs.initLineNumbersOnLoad();</script>

<article id="post-page">
	<h2>{{ page.title }}</h2>
	<time datetime="{{ page.date | date_to_xmlschema }}" class="by-line">{{ page.date | date_to_string }}
		<a class="card-header-title" href="/dsm/about">&nbsp;{{site.author.name}}</a><span>&nbsp;&nbsp;in&nbsp;</span>
		<a class="card-header-title" href="{{ "/category" | prepend: site.baseurl }}/{{page.categories}}.html">{{page.categories[0]}}</a>
	</time>
	<div class="content">

		{{ content }}



</article>

<div class="tags">
		{% if page.categories != null %}
		<b>Tags: </b>
   {% for tag in page.categories %}
		<a href="{{ site.tagurl | prepend: site.baseurl | append: '#' | append: tag}}" class="btn-default">{{tag}}</a>
    {% endfor %}
		{% endif %}
</div>

<div class="PageNavigation">

  {% if page.next.url %}
    <a class="next" href="{{page.next.url | prepend: site.baseurl}}">&laquo;--- {{page.next.title}} </a>
  {% else %} <a class="next" href="{{page.next.url | prepend: site.baseurl}}">&nbsp;</a>
	{% endif %}
	{% if page.previous.url %}
    <a class="prev" href="{{page.previous.url | prepend: site.baseurl}}"> {{page.previous.title}} ---&raquo;</a>
  {% else %} <a class="prev" href="{{page.previous.url | prepend: site.baseurl}}"> &nbsp;</a>
	{% endif %}


</div>




{% assign is_posted = "" | split: ',' %}
{% assign post_count = 0 %}


{%for item in (0..page.categories.size)%}{%unless forlast%}
		{% capture this_word %}{{ page.categories[item] }}{% endcapture %}
	 	{% for post in site.categories[this_word] %}
			{% if post.title != null %}
			 {% unless is_posted contains post.title %}
			   {% if post_count <= 3 %}
							<div class="item-title">
								<a href="{% if site.baseurl == "/" %}{{ post.url }}{% else %}{{ post.url | prepend: site.baseurl }}{% endif %}" data-hover="{{ post.title }}">{{ post.title }}</a>
							</div>
					 	 {% assign is_posted = is_posted | push: post.title %}
						 {% assign post_count = post_count | plus : 1 %}

				 {% else %}
							<div class="item-title" name="hiddendiv" style="display:none">
								<a href="{% if site.baseurl == "/" %}{{ post.url }}{% else %}{{ post.url | prepend: site.baseurl }}{% endif %}" data-hover="{{ post.title }}">{{ post.title }}</a>
							</div>
						{% assign is_posted = is_posted | push: post.title %}

						<!-- {% assign post_count = post_count | plus : 1 %} -->

         {% endif %}
		   {% endunless %}
			{%endif%}
		{%endfor%}
{%endunless%}
{%endfor%}

{% if post_count > 4%}
<div class = "item-title" >
<a style="border-top: 0.5px dashed; border-width: thin; text-align: right;" id="show_more_show_Less" type="button" onclick="isHidden('hiddendiv','show_more_show_Less')" ><i>&darr;&darr;MORE&darr;&darr;</i></a>
</div>
{% endif %}

<!-- <input type="button" value="ADD" onclick="change(this)"/>


<script>
function change(elem) // no ';' here
{

    if (elem.value=="Close Curtain") elem.value = "Open Curtain";
    else elem.value = "Close Curtain";
}
</script> -->



{% include disqus.html %}
