---
layout: default
---
{% include svg-icons.html %}
{% include head.html %}

<article id="post-page">
	<h2>{{ page.title }}</h2>
	<time datetime="{{ page.date | date_to_xmlschema }}" class="by-line">{{ page.date | date_to_string }}
		<a class="card-header-title" href="/dsm/about">&nbsp;{{site.author.name}}</a><span>&nbsp;&nbsp;in&nbsp;</span>
		<a class="card-header-title" href="{{ "/category" | prepend: site.baseurl }}/{{page.categories}}.html">{{page.categories[0]}}</a>
	</time>
	<div class="content">

		{{ content }}



</article>

<div class="tags">
		{% if page.categories != null %}
		<b>Tags: </b>
   {% for tag in page.categories %}
		<a href="{{ site.tagurl | prepend: site.baseurl }}" class="btn-default">{{tag}}</a>
    {% endfor %}
		{% endif %}
</div>

<div class="PageNavigation">

  {% if page.next.url %}
    <a class="next" href="{{page.next.url | prepend: site.baseurl}}">&laquo;--- {{page.next.title}} </a>
  {% else %} <a class="next" href="{{page.next.url | prepend: site.baseurl}}">&nbsp;</a>
	{% endif %}
	{% if page.previous.url %}
    <a class="prev" href="{{page.previous.url | prepend: site.baseurl}}"> {{page.previous.title}} ---&raquo;</a>
  {% else %} <a class="prev" href="{{page.previous.url | prepend: site.baseurl}}"> &nbsp;</a>
	{% endif %}


</div>




{% assign is_posted = "" | split: ',' %}
{% assign post_count = 0 %}


{%for item in (0..page.categories.size)%}{%unless forlast%}
		{% capture this_word %}{{ page.categories[item] }}{% endcapture %}
	 	{% for post in site.categories[this_word] %}
			{% if post.title != null %}
			 {% unless is_posted contains post.title %}
			   {% if post_count <= 4 %}
							<div class="item-title" >
								<a href="{% if site.baseurl == "/" %}{{ post.url }}{% else %}{{ post.url | prepend: site.baseurl }}{% endif %}" data-hover="{{ post.title }}">{{ post.title }}</a>
							</div>
					 	 {% assign is_posted = is_posted | push: post.title %}
						 {% assign post_count = post_count | plus : 1 %}

				 {% else %}
							<div name="hiddendiv" style="display:none">
								<a href="{% if site.baseurl == "/" %}{{ post.url }}{% else %}{{ post.url | prepend: site.baseurl }}{% endif %}" data-hover="{{ post.title }}">{{ post.title }}</a>
							</div>
						{% assign is_posted = is_posted | push: post.title %}
						<!-- {% assign post_count = post_count | plus : 1 %} -->

         {% endif %}
		   {% endunless %}
			{%endif%}
		{%endfor%}
{%endunless%}
{%endfor%}

{% if post_count > 5%}
<button style="cursor:hand" onclick="isHidden('hiddendiv')"><b>diaocha:</b></button>
{% endif %}


{% include disqus.html %}
